
@{
    ViewBag.Title = "tourDetail";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<!DOCTYPE html>
<htm>
    <head>
        <link rel="stylesheet" href="~/Content/tourDetailStyle.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container1">
            <div class="content1">
                <h1>ANIME BLOG</h1>
                <br>
                <hr>
                <br>
                <img id="HyoukaBK" style="width: 800px;" src="https://wallpaperaccess.com/full/1718875.jpg" alt="Hyouka Background">
                <br>
                <h2>About Tour</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Necessitatibus sit consectetur corporis magnam commodi quibusdam praesentium deserunt ipsam molestiae, fugit aut? 
                    Explicabo quo similique tempora sed praesentium nostrum animi officia!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Necessitatibus sit consectetur corporis magnam commodi quibusdam praesentium deserunt ipsam molestiae, fugit aut? 
                    Explicabo quo similique tempora sed praesentium nostrum animi officia!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Necessitatibus sit consectetur corporis magnam commodi quibusdam praesentium deserunt ipsam molestiae, fugit aut? 
                    Explicabo quo similique tempora sed praesentium nostrum animi officia!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Necessitatibus sit consectetur corporis magnam commodi quibusdam praesentium deserunt ipsam molestiae, fugit aut? 
                    Explicabo quo similique tempora sed praesentium nostrum animi officia!
                </p>
            </div>
            <div class="clearfix"></div>
        </div>        
    </body>
</htm>
