.row {
    align-items: center;
}

.row .image {
    flex: 1 1 40rem;
}

.row .image img {
    width: 10%;
}

.row form {
    position: absolute;
    left: 10rem;
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
    width: 30rem;
}

.row form .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/*form {
    flex: 1 1 40rem;
    width: 30rem;
    margin: 2rem 0 0 10rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
}*/
