.tour-container {
    position: absolute;
    top: 7rem;
    left: 4rem;
    width: 80rem;
    height: 40rem;
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.tour-container dt {
    font-weight: bold;
}

.tour-container dd {
    margin: 0 0 1rem 2rem;
}
