* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

h1 {
    color: rgb(196, 79, 151);
    font-weight: 900;
    font-size: 80px;
}

h2 {
    color: rgb(255, 136, 158);
    font-weight: bold;
    font-size: 50px;
}

p {
    font-weight: bold;
    font-size: 18px;
}

#HyoukaBK {
    display: block;
    margin: 0 auto;
}

.container1 {
    width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}

.content1 {
    width: 100%;
}

.date {
    color: rgb(255, 136, 158);
    font-weight: lighter;
    font-size: 40px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
