body {
    margin-top: 20rem;
    background-color: lightgray;
}


.sidebar {
    background-color: #333;
    color: white;
    height: 100%;
}

.slidebar a {
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: whitesmoke;
    padding: 10rem;
    font-size: 2rem;
}

.content h1 {
    position: absolute;
    top: 1rem;
    left: 8rem;
}

/*ThongTinTour*/
.table-container {
    height: 70rem;
}

.table-container th {
    font-size: 2rem;
}

.table-container tbody td {
    font-size: 1.5rem;
}

.img-container img {
    width: 100%;
    height: 70rem;
}

.h1-container {
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
}
/*ThongTinTour-End*/

/*DatTour*/
.content1 {
    padding: 3rem 0;
    text-align: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.card > div {
    margin-left: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.img-container1 img {
    color: pink;
}



.card-body img {
    width: 100%;
    height: 100%;
    background: lightgrey;
}

/*DatTour-End*/